### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
sales_data = pd.read_csv(file_to_load).dropna()

In [55]:
sales_data.head()
sales_data.groupby("SN").sum().sort_values("Price", ascending=False).head()

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      451  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

## Player Count

* Display the total number of players

In [93]:
player_num = sales_data["SN"].nunique()
player_count = pd.DataFrame({"Total Number of Players": [player_num]})

In [95]:
player_count.style.hide_index()

In [19]:
genders = pd.DataFrame(sales_data["Gender"].value_counts())

genders

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
col = ["Number of Unique Items", 
       "Average Price", 
       "Number of Purchases", 
       "Total Revenue"]

val = [[sales_data["Item ID"].nunique()], 
       [sales_data["Price"].mean()], 
       [sales_data["SN"].count()], 
       [sales_data["Price"].sum()]]

summary_table = pd.DataFrame(dict(zip(col, val))).round(2)

# forms = ['{:,}', '${:,}', '{:,}', '${:,}']

# for i, var in enumerate(col):
#     summary_table[var] = summary_table[var].map(forms[i].format)

summary_table["Average Price"] = summary_table["Average Price"].map('${:,}'.format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map('${:,}'.format)

In [96]:
summary = summary_table.style.hide_index()
summary

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
gender_demographics = sales_data[["Gender", "SN"]].drop_duplicates().groupby("Gender").count()
gender_demographics["Percentage"] = (gender_demographics["SN"]/sales_data["SN"].nunique()).round(4)
gender_demographics = gender_demographics.rename(columns={"SN": "Count"})
gender_demographics["Percentage"] = gender_demographics["Percentage"].map("{:.2%}".format)

In [41]:
gender_demographics

                       Count Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%

In [50]:
genders = sales_data[["Gender", "SN"]].drop_duplicates()
gender_data = genders.groupby("Gender").count().rename(columns={"SN": "Count"})
gender_data["Percentage"] = (gender_data["Count"] / genders["SN"].nunique())
gender_data["Percentage"] = gender_data["Percentage"].round(4).map("{:.2%}".format)

# gender_data["Count"] = pd.DataFrame(genders.groupby("Gender")).count()

# gender_data["Percentage"] = genders["Gender"].value_counts(normalize=True).round(4)
# gender_data["Percentage"] = (gender_data["Count"] / player_num).map("{:.2%}".format)

# gender_data["Percentage"] = genders["Gender"].value_counts(normalize=True).round(4)
# gender_data["Percentage"] = (gender_data["Count"] / genders[gender].count()).map("{:.2%}".format)

# gender_data["Percentage"] = gender_data["Percentage"].map("{:.2%}".format)


# percent = genders["Gender"].value_counts(normalize=True).round(4)

# gender_data = gender_data.round(4)

gender_data


# gender_demographics["Percentage"] = gender_demographics["SN"]/sales_data["SN"].nunique()
# gender_demographics = gender_demographics.rename(columns={"SN": "Count"})
# gender_demographics["Percentage"] = gender_demographics["Percentage"].map("{:.2%}".format)

                       Count Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame